<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Webapp Based on Aerial Template by html5up.net</title>

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{$basePath}/assets/css/main.css"></link>
</head>

<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">
	

	{include content}

	<!-- JavaScript -->
	{block scripts}
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}


	<!-- Footer -->
	{include footer}

</div>
</div>
<script>
	window.onload = function () {
	document
		.body
		.classList
		.remove('is-preload');
	}
	window.ontouchmove = function () {
	return false;
	}
	window.onorientationchange = function () {
	document.body.scrollTop = 0;
	}
</script>
</body>
</html>